<br/>
<br/>
<div class="container row">
    <div class="col-12 text-center">
        <h2 class="text-primary text-center">
            Order Placed Successfally!
        </h2>
        <br/><br/>
        <img src="https://dotnetresturant.blob.core.windows.net/manger/order.PNG"width="50%" />
    </div>
    <h3  class="col-12 text-center"style="color: darkred">
        <br/>
        Thank You For Shopping With Us. 
        Please Visit Again...
    </h3>
</div>